{% extends "base.html"%}
{% block userid%}
	{% if mest['authenticated'] == 'true' %}
	
	<li>
		<p class="navbar-text">Signed in as <a id="profile" href="#" class="btn navbar-link profileBtn">{{mest['Name']}}</p>
		</a>
	</li>
	{% else %}
		<li>
			<a href="#" class="btn btn-default navbar-btn navbar-link signinBtn" role="button">Sign in</a>
		</li>

	{% end %}
{%end%}
{% block content %}
	<p>Look at this : {{ mest['test']}} or this :{{ mest['test2']}}</p>
{% end %}

{% block footer %}
	<p>Some rights reserved</p>
{% end %}

{% block scripts %}
		{% if mest['authenticated'] == 'true' %}
			<script>
		        $('.profileBtn').attr('href','http://localhost:8888/Profile');
			</script>
		{% else %}
			<script>
		        $('.signinBtn').attr('href','http://localhost:8888/Login');
			</script>
		{% end %}
{% end %}